body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(51, 51, 51);
    overflow-y: hidden;
}
.botoes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    margin-top: .5%;
}
label {
    position: relative;
    left: -15%;
    color: white;
    font-size: 60vh;
    font-weight: 600;
    text-shadow: 3px 3px 5px#141414;
}
a {
    text-decoration: none;
    color: white;
    background-color: rgb(68, 68, 68);
    border-radius: 10px;
    padding: 10vh;
    transition: .5s ease;
    box-shadow: 4px 4px 6px #141414;
    text-shadow: 3px 3px 5px#141414;
    left: -15%;
    position: relative;
}
a:hover {
    transform: scale(1.05);
    background-color: rgb(80, 80, 80);
}